.Toolbar {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 50;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
    user-select: none;
    font-family: "Nunito", sans-serif;
}
.Toolbar.ToolbarPre {
    background-color: rgb(210, 219, 60);
}
.toolbarContent {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

.Toolbar nav {
    height: 100%;
}

.searchRecipeInputBox {
    padding-right: 20px;
    flex: 1 1;
}

.searchRecipeInput {
    display: flex;
    width: 100%;
    max-width: 350px;
}

.logoContent {
    cursor: pointer;
    margin-left: 20px;
    margin-right: 30px;
    max-width: 150px;
}
.logo {
    display: flex;
}
.logoMobile {
    display: none;
}

.shortcutBtn {
    padding-right: 20px;
}

@media (max-width: 768px) {
    .logoContent {
        margin-left: 0px;
    }
    .logo {
        display: none;
    }
    .logoMobile {
        display: flex;
    }
}
@media (max-width: 500px) {
    .logoContent {
        margin-right: 20px;
    }
}
